<div class="container">
    <div class="box">
        <div class="formulario bg-light mt-5 p-5">
            <div class="text-center">
                <h1>Formulario de Registro</h1>
            </div>
            <div class="mb-3">
                <label for="nombre" class="form-label">Nombre :</label>
                <input #name type="text" class="form-control" id="nombre"/>
            </div>
            <div class="mb-3">
                <label for="apellidos" class="form-label">Apellidos :</label>
                <input #surname type="text" class="form-control" id="apellidos"/>
            </div>
            <div class="mb-3">
                <label for="edad" class="form-label">Edad : </label>
                <input #age type="text" class="form-control" id="edad"/>
            </div>
            <button type="button" class="btn btn-success" (click)="obtenerDatos(name.value, surname.value, age.value)">Agregar Dato</button>
        </div>
    </div>
  <div class="mt-5 text-center table-responsive">
    <table class="table">
      <thead>
        <tr class="table-dark">
          <th scope="col">Nombre</th>
          <th scope="col">Apellido</th>
          <th scope="col">Edad</th>
          <th scope="col">Condición</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let alumno of registros">
          <th>{{ alumno["name"] }}</th>
          <th>{{ alumno["surname"] }}</th>
          <th>{{ alumno["age"] }}</th>
          <th>{{ alumno["validar"] }}</th>
        </tr>
      </tbody>
    </table>
  </div>
</div>
